body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;   
    border: 0.5px solid lightblue; 
}

#pieces {
    width: 1031px;
    height: 162px;
    border: 2px solid black;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;   
    border: 0.5px solid lightblue; 
}